.container{
  background-image: url(../imgs/bg-repeat.jpg);
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 72px;
}

.questions{
  color: white;
}

.questions .title{
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 15px;
}

.questions .paragrafo{
  font-size: 25px;
  font-weight: 400;
  max-width: 500px;
}

.fill{
  background-color: white;
  height: 450px;
  width: 380px;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
}

.fill .inputs{
  width: 100%;
  height:35px;
  border-radius: 5px;
  border: 1px solid;
  padding: 3px;
  margin-top: 15px;
}

#mensagem {
  margin-top: 15px;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 3px;
}

.obrigatorio{
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn{
  font-size: 17px;
  padding: 10px;
  background-color: #3CCC87;
  border: none;
  color: white;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.mensagem-erro{
  font-size: 10px;
  display: none;
}

.erro{
  display: block;
  color: red;
}

.tudo-certo{
  color:#3CCC87;
}



